.create-application {
    border: 1px solid rgb(189, 188, 188);
    width: 600px;
    height: 400px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.create-application__input-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px 0;.create-application {
        border: 1px solid rgb(189, 188, 188);
        width: 600px;
        height: 400px;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    .create-application__input-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 12px 0;
    }.create-application {
        border: 1px solid rgb(189, 188, 188);
        width: 600px;
        height: 400px;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    .create-application__input-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 12px 0;
    }
}